.hamburger-menu {
    position: relative;
}

.hamburger {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    top: 30px;
    left: 0;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px;
    z-index: 1000;
    width: 9rem;
}

.dropdown-item {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}