.products-display-section {

    color: rgba(255, 255, 255, 1);
    font-family: "Oswald", sans-serif;
    margin: 20px;
    padding: 20px;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 5%;
}

.view-all-button {
    display: flex;
    justify-self: center;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 1);
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    font-family: "Oswald", sans-serif;


}

.view-all-button:hover {
    background-color: #0056b3;
}

.product-display-description {
    color: rgba(255, 255, 255, 1);
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    margin-top: 5px;

}

.product-display-heading {
    margin: 0;
}