.card {
    width: 30%;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.product-image {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.product-name {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    margin: 0;
    font-weight: bold;

}

.product-mrp {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #ababab;
    margin-top: 5px;
}